* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: Inter, sans-serif;
}

:root {
  --gray-50: #f5f5f6;
  --gray-750: #414052;
  --gray-850: #272733;
  --gray-900: #21212b;
  --gray-950: #181820;

  --purple: #ac6dde;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (margin: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--gray-950);
  color: var(--gray-50);
}

button {
  cursor: pointer;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content {
  width: 100%;
  max-width: 576px;
  background: var(--gray-950);
  padding: 3rem;
  position: relative;
  border-radius: 1.25rem;
}

.react-modal-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;

  transition: filter 0.3s;

  &:hover {
    filter: brightness(0.8);
  }
}
