.todoContainer {
  width: 100%;
  margin-top: 4.6875rem;
}

.headerContent {
  background: var(--gray-850);
  height: 4.375rem;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  text-align: left;

  font-weight: 600;

  div {
    width: 30px;
    height: 30px;
    border-radius: 1.25rem;
    border: 3px solid var(--purple);
  }

  a {
    color: var(--purple);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
  }
}

.bodyContent {
  background: var(--gray-900);
  height: 9.1875rem;
  padding: 1.25rem 1.25rem;

  font-weight: 400;

  display: flex;
  align-items: center;
}

.footerContent {
  background: var(--gray-850);
  color: var(--gray-50);

  font-weight: 300;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 3.6875rem;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.noTasksContainer {
  width: 100%;
  margin-top: 4.6875rem;
  padding-bottom: 15rem;
}

.noTasks {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--purple);
}
